# variables

variables are fundamental elements used for storing data. In python these are used for assigning a value to a variable.
-->assiginig a value to variable
-->Declaring,Type Checking,Dynamic Typing.

In [2]:
#declaring and Assigning:
Name="Satwika"
Qualification="BTech"
Specialization="Data Science"
print(Name)
print(Qualification)
print(Specialization)

Satwika
BTech
Data Science

In [3]:
#variable Types: Python is dynamically typed i.e type of variable is determined at runtime
print(type(Name))

<class 'str'>

# DataTypes:
Data types are the classification of the data which tell the compiler or interpreter on how the programmer intends to use the data.
they determine the type of operation that can be performed on the data,the values that the data can take and the amount of memory needed to store the data.
--> Basic Data Types : integer, float,boolean,string.
--> Advance Data Types:Tuple,List,Set,Dictionary

In [46]:
#List: List are ordered,mutable collection of items and they can contain different data types 
#creating a list
lst=[]
print(type(lst))

<class 'list'>

In [47]:
#Iterating over a list
fruits=["apple","banana","kiwi","cherry"]
for i in fruits:
    print(i)

apple
banana
kiwi
cherry

In [49]:
# Accessing List Elements: using indexing
fruits[0]
fruits[0:3]

['apple', 'banana', 'kiwi']

In [50]:
#list methods
#adding an element to the list
fruits.append("orange")
fruits

['apple', 'banana', 'kiwi', 'cherry', 'orange']

In [51]:
#insert at particular position
fruits.insert(1,"watermelon")
fruits

['apple', 'watermelon', 'banana', 'kiwi', 'cherry', 'orange']

In [52]:
#remove:
fruits.remove("apple")
fruits

['watermelon', 'banana', 'kiwi', 'cherry', 'orange']

In [53]:
#pop:is used to remove last item
fruits.pop()
fruits

['watermelon', 'banana', 'kiwi', 'cherry']

In [54]:
#index of particular element
index=fruits.index("cherry")
print(index)

3

In [58]:
#sorting a list
fruits.sort()#sort the list in ascending order
print(fruits)

['banana', 'cherry', 'kiwi', 'watermelon']

# List
List comprehension: performing all operations in one list
syntax:Basic syntax: [expression for item in iterable]
with conditional logic [expression for item in iterable if condition]
Nested List Comprehension [expression for item1 in iterable1 for item2 in iterable2]

In [1]:
lst=[x**2 for x in range(10)]
print(lst)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [63]:
#even number:
lst=[i for i in range(10) if i%2==0]
lst

[0, 2, 4, 6, 8]

In [66]:
#Nested list comphrension
lst1=[1,2,3,4]
lst2=['a','b','c','d']
pair=[[i,j] for i in lst1 for j in lst2]
print(pair)

[[1, 'a'], [1, 'b'], [1, 'c'], [1, 'd'], [2, 'a'], [2, 'b'], [2, 'c'], [2, 'd'], [3, 'a'], [3, 'b'], [3, 'c'], [3, 'd'], [4, 'a'], [4, 'b'], [4, 'c'], [4, 'd']]

In [67]:
len(pair)

16

# Sets 
sets are built-in-data type in python used to store collection of unique items. They are unordered , Immutable and doesn't allow dublicates 
--> Sets are used for performing mathematical set operations like union,intersection

In [2]:
#creating a set
my_set={1,2,3,4}
type(my_set)

set

In [4]:
#Adding and Removing elements 
my_set.add(7)
my_set

{1, 2, 3, 4, 7}

In [5]:
#removing elements
my_set.remove(3)
my_set

{1, 2, 4, 7}

In [7]:
#adding a duplicate element
my_set.add(1)
my_set  #there is no change

{1, 2, 4, 7}

In [8]:
# pop method
my_set.pop()
my_set

{2, 4, 7}

In [9]:
#operations
set1={1,2,3,4,5}
set2={4,5,6,7,8}
print(set1.union(set2))

{1, 2, 3, 4, 5, 6, 7, 8}

In [11]:
#intersection
print(set1.intersection(set2))
print(set1.difference(set2))
print(set1.issubset(set2))

{4, 5}
{1, 2, 3}
False

In [12]:
print(set1.symmetric_difference(set2))

{1, 2, 3, 6, 7, 8}

In [14]:
#counting unique words in text
text="This topic is mainly focused on sets"
words=text.split()
unique_words=set(words)
print(unique_words)
len(unique_words)

{'on', 'sets', 'mainly', 'focused', 'This', 'topic', 'is'}

7

## Dictionary:
Dictionary are unordered collection of items.They store data in key-value pairs. Keys must be unique and immutable, while values can be of any type.

In [1]:
#creating dictionary
empty_dict={}
type(empty_dict)

dict

In [9]:
student={"name":"xyz","age":21,"grade":"BTech"}
print(student)

{'name': 'xyz', 'age': 21, 'grade': 'BTech'}

In [10]:
#accessing dictionary elements
print(student['name'])

#accessing using get() method
print(student.get('name'))

xyz
xyz

In [11]:
#modifying dictionary elements: dictionary are mutable we can add, update or delete elements
student['age']=25
print(student)

{'name': 'xyz', 'age': 25, 'grade': 'BTech'}

In [12]:
del student['grade'] #delete key and value pair
print(student)

{'name': 'xyz', 'age': 25}

In [15]:
keys=student.keys() # get all the keys
print(keys)
values=student.values() #get all the value pairs
print(values)
items=student.items()#get all the items
print(items)

dict_keys(['name', 'age'])
dict_values(['xyz', 25])
dict_items([('name', 'xyz'), ('age', 25)])

In [17]:
#shallow copy: allows a different memory location so that if anything changes in original there wont be an effect.
student_copy=student.copy()
print(student_copy)
print(student)

{'name': 'xyz', 'age': 25}
{'name': 'xyz', 'age': 25}

In [18]:
student["name"]="xyza"
print(student_copy)
print(student)

{'name': 'xyz', 'age': 25}
{'name': 'xyza', 'age': 25}

In [19]:
#Iterating over dictionary:
#Iterating over keys
for keys in student.keys():
    print(keys)

name
age

In [20]:
#Itearte over values
for value in student.values():
    print(value)

xyza
25

In [25]:
#Itearting over keys,values
for keys,values in student.items():
    print(f"{keys}:{values}")

name:xyza
age:25

In [27]:
#Nested dictionaries
students={
    "student1":{"name":"xyz1","age":"21"},
    "student2":{"name":"xyz2","age":"22"}
}
print(students)

{'student1': {'name': 'xyz1', 'age': '21'}, 'student2': {'name': 'xyz2', 'age': '22'}}

In [28]:
#accessing nested dictionaries
print(students["student1"]["name"])

xyz1

In [29]:
for student_id,student_info in students.items():
    print(f"{student_id}:{student_info}")
    for key,value in student_info.items():
        print(f"{key}:{value}")

student1:{'name': 'xyz1', 'age': '21'}
name:xyz1
age:21
student2:{'name': 'xyz2', 'age': '22'}
name:xyz2
age:22

In [30]:
#dictionary comphrension
#square of a number from 1 to 10
square={x: x**2 for x in range(10)}
print(square)

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81}

In [32]:
#practice: count the frequency of elements in list
numbers=[1,2,2,3,4,4,5,5,3]
frequency={}
for number in numbers:
    if number in frequency:
        frequency[number]+=1
    else:
        frequency[number]=1
print(frequency)

{1: 1, 2: 2, 3: 2, 4: 2, 5: 2}

## Tuples
Tuples are ordered collection of items that are immutable. They are similar to list but these are immutable

In [2]:
#creating a tuple
empty_tuple=()
print(type(empty_tuple))

<class 'tuple'>

In [7]:
#accessing tuple element--> using indexing
tuple1=(1,"hello",3.14,"True")
tuple1
tuple1[0]
tuple1[2:4]

(3.14, 'True')

In [8]:
#Tuple Operations--.concatenation
mixed_tuple=(1,2,3,4)
concatenation_tuple = tuple1+mixed_tuple
print(concatenation_tuple)

(1, 'hello', 3.14, 'True', 1, 2, 3, 4)

In [9]:
print(mixed_tuple*2)

(1, 2, 3, 4, 1, 2, 3, 4)

In [10]:
#Immutable nature of tuples--> Their elements cannot be changed once assigned.
mixed_tuple[1]="20"

TypeError: 'tuple' object does not support item assignment

In [12]:
print(tuple1.count(1))
print(tuple1.index(1))

1
0

In [13]:
nested_tuple=((1,2,3),("q","b","c"),("True","False"))

In [14]:
#iterating over a nested tuple
for sub_tuple in nested_tuple:
    for item in sub_tuple:
        print(item,end=" ")
    print()

1 2 3
q b c
True False

# conditional Statements:
-->If statements
--> else statements
--> elif statements
--> Nested conditional statements

In [4]:
# if statement is exceuted when the condition is satisfied where as 
#else statement is executed only when the if condition is False
age= 17
if age>=18:
    print("You are eligible for voting")
else:
    print("You are not eligible")

You are not eligible

In [6]:
#elif statement is used when there are multiple else conditions elif means else if
age=17
if age>=18:
    print("Adult")
elif age<=17:
    print("teenage")
else:
    print("child")

teenage

In [7]:
#Nested condition:
#we can place one or more if,elif,or else statement inside another if,elif,or else statement to create nested conditional statement
# leap year:
year=int(input("Enter year:"))
if year%4==0:
    if year%100==0:
        if year%400==0:
            print(year,"is a leap year")
        else:
            print(Year,"is not a leap year")
    else:
        print(year,"is a leap year")
else:
    print(year,"is not a leap year")

Enter year:2025
2025 is not a leap year

In [13]:
#simple calculator program operations-(+,-,*,/)
a=int(input("Enter a value "))
b=int(input("Enter b value "))
operation=input("Enter operation ")
if operation=="+":
    print("Addition = ",a+b)
elif operation=='-':
    print("Subtraction = ",a-b)
elif operation=='/':
    print("division = ",a/b)
elif operation=='*':
    print("multiplication = ",a*b)
else:
    print("Invalid Operation")

Enter a value 4
Enter b value 5
Enter operation *
multiplication =  20

# Loops
--> for Loop
    --> Iterating over a range
    --> Iterating over a string
--> while loop
--> Loop control Statements
    -->break
    -->continue
    -->pass
--> Nested Loops

In [14]:
#for loop :for loop is used for iterating over a sequence of numbers
#syntax: for i in range():
for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [18]:
for i in range(1,10,2):
    print(i)

1
3
5
7
9

In [17]:
str="laptop"
for i in str:
    print(i)

l
a
p
t
o
p

In [22]:
for i in range(1,10,-1):
    print(i)

In [20]:
#while loop: while loop continues to execute as long as the condition is True.
count=10
while count<10:
    print(count)
    count+=1

In [32]:
#loop control statements:
#break:the break statement breaks the loop prematurely 
#continues: continue statement skips the current iteration and continue the loop
#pass: pass is used as null operation
for i in range(10):
    if i%2==0:
        break
    print(i)

In [33]:
for i in range(10):
    if i%2==0:
        continue
    print(i)

1
3
5
7
9

In [40]:
#nested loops: a loop within a loop
for i in range(5):
    for j in range(0,i):
        print("*",end=" ")
    print()

*
* *
* * *
* * * *

In [42]:
#sum of n natural numbers
n=10
sum=0
count=1
while count<=n:
    sum+=count
    count+=1
print(sum)

55

In [31]:
#prime numbers btw 1 to 100
for num in range(1,50):
    if num>1:
        for i in range(2,num):
            if num%i==0:
                break
        else:
            print(num)

2
3
5
7
11
13
17
19
23
29
31
37
41
43
47